body{
    background-color: gainsboro;
}
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    height: 90px;
    margin-right: 0px !important; 
    margin-left: 0px !important;
    border-style: solid;
    border-color: #727f90;
    border-width: 5px;
    position: relative;
    bottom: 60px;
}
.navbar-default {
  visibility: hidden;
}
.navbar-brand {
	float:none;
    font-size: 30px;
    margin-right: 0px;
    margin-top: 15px;

}
#brand {
    color: #727f90;;
    font-family: 'Press Start 2P', cursive;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6b2b2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4f4d4d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url(../img/night.png);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border-radius: 50%;
    background-image: url(../img/light.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 2px;
  }
  /* .controls {
      position: relative;
      left:40%;
      top: 70px;
      font-family: 'Press Start 2P', cursive;
  } */
  .score {
      color:#727f90 !important;
      font-size:30px;
      font-family: 'Press Start 2P', cursive;
  }
  #scoreboard {
    position: absolute;
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    left: 130%;
    bottom: 0px;
  }
.glyphicon {
  bottom: 0px;
  color: gold;
  margin-right: 10px;
  top: 0px;
}
canvas {
  position: absolute;
  bottom: 0px;
  top: 500px;
  /* left: 0px; */
  /* right: 0px; */
  margin-left: 0px;
  margin-right: 0px;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
}
.switch {
  top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    left: 80%;
    transform: translate(-50%, -50%);
}
#scoreboards {
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  transform: translate(-50%, -50%);
  left: 25%;
  top: 190px;
}

#scoreboards2 {
  position: absolute;
  margin-left: 0px;
  left: 65%;
  margin-right: 0px;
  transform: translate(-50%, -50%);
  top: 190px;
}
#highscore {
  left: 110%;
    position: absolute;
    bottom: 0px;
    width: 20px;
}
#restart {
    bottom: 0px;
    top: 710px;
    height: 45px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    right: 0px;
}








.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 430px;
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding:  40px 0px;
  width: 240px;
}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}





.panel-footer {
  position: relative;
    top: 470px;
    border-style: solid;
    border-color: #727f90;
    border-width: 5px;
}
#footer-m {
  top: 130px;
}





/********** Large devices only(lg) **********/
@media (min-width: 1200px) {

}

/********** Medium devices only(md) **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .score {
    font-size: 25px;
  }
}

/********** Small devices only(sm) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .score {
    font-size: 21px;
  }
}

/********** Extra small devices only(xs) **********/
@media (max-width: 767px) {
  .score {
    font-size: 2.6vw;
  }
  .navbar-brand {
    font-size: 5vw;
  }
}